<?xml version='1.0' encoding='utf-8'?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.del.dnews">

    <!--akses jaringan penuh-->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!--lihat sambungan jaringan-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!--mencegah ponsel menjadi tidak aktif-->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <!--baca konten kartu SD Anda-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <!--mengubah atau menghapus konten kartu SD Anda-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:name="com.del.dnews.App"
        android:icon="@drawable/ic_launcher"
        android:roundIcon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:largeHeap="true"
        android:usesCleartextTraffic="true"
        android:resizeableActivity="false">

        <activity
            android:name="com.del.dnews.activity.SplashActivity"
            android:theme="@style/AppTheme.Launcher"
            android:label="@string/app_name">

            <intent-filter>

                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>

        </activity>

        <activity
            android:name="com.del.dnews.activity.MainActivity"
            android:hardwareAccelerated="true"
            android:supportsPictureInPicture="true"
            android:screenOrientation="portrait"/>

        <activity
            android:label="App Crash"
            android:name="com.del.dnews.util.CrashHandler$CrashActiviy"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.del.dnews.activity.ListNewsActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.del.dnews.activity.ViewContentActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.del.dnews.activity.SettingActivity"
            android:screenOrientation="portrait"/>

        <meta-data
            android:name="android.max_aspect"
            android:value="4.0"/>

    </application>

</manifest>